/* .game {
    width: 400px;
    height: 200px;
    border: solid 1px black;
}; */


/** ----*smallPracticeAnimation---- **/
/* #pool {
    background-color: green;
    width: 300px;
    height: 300px;
    position: relative;
  }

  #persone {
    background-color: yellow;
    width: 70px;
    height: 70px;
    position: absolute;
  } */


/** Метод elem.addEventListener() **/
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
  text-align: center;
} */

/** Метод elem.removeEventListener() **/
/* body {
  padding: 1rem;
  text-align: center;
} */

/** Объект события **/
/* body {
  padding: 1rem;
  text-align: center;
} */


/** Делигирование 'Menu' через класс с вешаньем слушателя **/
/* #menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
  text-align: center;
} */

/* ==================================================================================== */

/* TASK-03 #gallery */

#gallery {
  height: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.gallery__item {
  list-style: none;
}

/* ====================================================================================== */

/* TASK-06 #validation-input */

/* Для добавления стилей, используй CSS-классы valid и invalid. */

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

/* ====================================================================================== */

