/* .game {
    width: 400px;
    height: 200px;
    border: solid 1px black;
}; */


/** ----*smallPracticeAnimation---- **/
/* #pool {
    background-color: green;
    width: 300px;
    height: 300px;
    position: relative;
  }

  #persone {
    background-color: yellow;
    width: 70px;
    height: 70px;
    position: absolute;
  } */


/** Метод elem.addEventListener() **/
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
  text-align: center;
} */

/** Метод elem.removeEventListener() **/
/* body {
  padding: 1rem;
  text-align: center;
} */

/** Объект события **/
/* body {
  padding: 1rem;
  text-align: center;
} */

