/* todo

.form {
    width: 500px;
    height: 300px;
    border: 1px solid green;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

input {
    border: none;
    display: flex;
    height: 40px;
    width: 300px;
    border-bottom: 1px solid red;
    outline: none;
}

.taskContainer {
    display: flex;
    width: 100%;
    height: 500px;
    flex-wrap: wrap;
    border: 1px solid blueviolet; 
}

.description {
    margin-bottom: 40px;
}

.btn {
    outline: none;
    border: none;
    width: 150px;
    height: 40px;
    background-color: fuchsia;
    border-radius: 10px;
}

.list {
    width: 200px;
    height: 100px;
    margin-right: 5px;
    border: 1px solid saddlebrown;
    box-shadow: 0 0 10px rgba(107, 18, 223, 0.5);
} */

/* =============================================================== */

/* .box {
    width: 150px;
    height: 200px;
    background: palegreen;
} */
/* ================================================================== */

/* .clock {
    margin: auto;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 1px solid blue;
    position: relative;
}

.head {
    width: 50%;
    height: 2px;
    background-color: tomato;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(40deg);
} */
/* ======================================================================= */

/* img {
    width: 100%;
}

.fullview {
    width: 100%;
    object-fit: cover;
}

.preview {
    width: 100%;
    display: flex;
    margin: 0 auto;
}

li {
    list-style: none;
} */
